<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
<h1>Restaurants</h1>

<form th:action="@{/search}">
    Search by:
    <select id="field" name="field">
        <option th:selected="${field == 'name'}" value="name">Name</option>
        <option th:selected="${field == 'cuisine'}" value="cuisine">Cuisine</option>
        <option th:selected="${field == 'delivery-fee'}" value="delivery-fee">Delivery Fee</option>
    </select>
    <input placeholder="Your search query" th:name="query" th:value="${query}" type="text"/>
    <input type="submit" value="Search">
</form>

<br><br>

<table>
    <thead>
    <tr bgcolor="#d3d3d3">
        <td>Name</td>
        <td>Address</td>
        <td>Delivery Fee</td>
        <td>Cuisine</td>
    </tr>
    </thead>
    <tr th:each="restaurant : ${restaurants}">
        <td style="cursor: pointer; background-color: aquamarine "
            th:onclick="'window.location.href=\'/restaurants/' + ${restaurant.getId()} + '\''"
            th:text="${restaurant.getName()}"></td>
        <td th:text="${restaurant.getAddress()}"></td>
        <td th:text="${restaurant.getDeliveryFee()}"></td>
        <td th:text="${restaurant.getCuisine().getName()}"></td>
    </tr>
    <tbody>

    </tbody>
</table>

</body>
</html>