<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>

    <meta charset="UTF-8">
    <title>Restaurant</title>
</head>
<body class="container">

<div th:replace="fragments/header :: header (title='Restaurant')"></div>

<br>
<h1 th:text="${restaurant.getName()}">Restaurant 1</h1>
<br>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <td colspan="2"><b>Restaurant Info</b></td>
    </tr>
    </thead>
    <tr>
        <td>Name</td>
        <td th:text="${restaurant.getName()}"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td th:text="${restaurant.getAddress()}"></td>
    </tr>
    <tr>
        <td>Delivery Fee</td>
        <td th:text="${restaurant.getDeliveryFee()}"></td>
    </tr>
    <tr>
        <td>Cuisine</td>
        <td>
            <button class="btn btn-primary"
            th:onclick="'window.location.href=\'/cuisines/' + ${restaurant.getCuisine().getId()} + '\''"
            th:text="${restaurant.getCuisine().getName()}"></button>
        </td>
    </tr>
    <tr>
        <td>City</td>
        <td th:text="${restaurant.getCity()}"></td>
    </tr>
    <tr>
        <td>Grab'n'Go</td>
        <td th:if="${restaurant.isGrabngo()}">Yes</td>
        <td th:if="${!restaurant.isGrabngo()}">No</td>
    </tr>
    <tr>
        <td>Active</td>
        <td th:if="${restaurant.isActive()}">Yes</td>
        <td th:if="${!restaurant.isActive()}">No</td>
    </tr>
    <tr>
        <td>Updated Date</td>
        <td th:text="${restaurant.getUpdatedDate()}"></td>
    </tr>
    <tr>
        <td>Created Date</td>
        <td th:text="${restaurant.getCreatedDate()}"></td>
    </tr>
    <tbody>

    </tbody>
</table>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
